@charset "utf-8";
/* jsForm */
/* .jsForm-button {
	border: solid 1px lightgray;
	width: 16px;
	height: 16px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.jsForm-button:hover {
	border: solid 1px black;
	background-color: lightgray;
} */
.jsForm-dlg {
	width: 600px;
	height: 400px;
}

.jsForm-addButton {
	color: green;
}

.jsForm-removeButton {
	color: red;
}

.readOnly {
	color: gray;
}

.jsForm-dlg .content {
	float: left;
}

.jsForm p {
	min-height: 14px;
}