@charset "utf-8";
#statistic {
	font: 10px sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#statistic svg .axis path,
#statistic svg .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#statistic svg .x.axis path {
/* 	display: none; */
}

#statistic svg .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
#statistic svg text {
	fill: black;
}
