<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/data/neo4j 
			http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/tx 
        	http://www.springframework.org/schema/tx/spring-tx.xsd
        	http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />

	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
	 For example @Controller and @Service. Make sure to set the correct base-package-->
	<context:component-scan base-package="at.freebim.db.webapp.json" />
	<context:component-scan base-package="at.freebim.db.webservice" />
	<context:component-scan base-package="at.freebim.db.webapp.controller" />
	<context:component-scan base-package="at.freebim.db.webapp.security" />
	<context:component-scan base-package="at.freebim.db.webapp.session" />
	<context:component-scan base-package="at.freebim.db.ods" />
    <context:component-scan base-package="at.freebim.db.freeClass" />
    <context:component-scan base-package="at.freebim.neo4j.backup" />
    <context:component-scan base-package="net.spectroom.neo4j.backup" />
	
	<context:component-scan base-package="at.freebim.db.service" />
	<neo4j:repositories base-package="at.freebim.db.repository"/>
	
	<!-- Configures the annotation-driven Spring MVC Controller programming model.
	Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->
	<mvc:annotation-driven />
	
	<neo4j:config base-package="at.freebim.db" storeDirectory="${db.location}"/> 
	<tx:annotation-driven mode="proxy"/>

	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
	
	<bean class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter">
		<property name="baseAddress" value="http://localhost:8081/" />
	</bean>
 
 	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
 	
 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="2097152" />
	</bean>

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="order" value="1"/>
	    <property name="messageConverters">
	        <list>
	            <bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath:freebim.properties</value>
                <value>classpath:version.properties</value>
            </list>
        </property>
    </bean>
	
	<bean id="taskExecutor"
        class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="WaitForTasksToCompleteOnShutdown" value="true" />
    </bean>
</beans>
