<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
		<constructor-arg>
			<list>
				<!-- <security:filter-chain pattern="/FreebimWebService/**" filters="securityContextPersistenceFilterWithASCFalse" />  -->
				<security:filter-chain pattern="/**"
					filters="
           securityContextPersistenceFilter,
           authenticationFilter,
           concurrencyFilter,
           exceptionTranslationFilter,
           filterSecurityInterceptor,
           logoutFilter" />
			</list>
		</constructor-arg>
	</bean>
	
	<!-- 
	<bean id="defaultRedirectStrategy" class="org.springframework.security.web.DefaultRedirectStrategy">
		<property name="contextRelative" value="true" />
	</bean>
	
	<bean id="savedRequestAwareAuthenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="defaultTargetUrl" value="/" />
		<property name="redirectStrategy" ref="defaultRedirectStrategy" />
		<property name="alwaysUseDefaultTargetUrl" value="true" />
	</bean>
 	-->
<!-- 
	<bean id="anonymousAuthFilter"
		class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
		<property name="key" value="freeBIM" />
		<property name="userAttribute" value="anonymousUser,ROLE_ANONYMOUS" />
	</bean>

	<bean id="anonymousAuthenticationProvider"
		class="org.springframework.security.authentication.AnonymousAuthenticationProvider">
		<property name="key" value="freeBIM" />
	</bean>
 --> 	
	<bean id="filterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="securityMetadataSource">
			<security:filter-security-metadata-source>
				<security:intercept-url pattern="/component/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/contributor/**" access="ROLE_USERMANAGER,ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/datatype/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/discipline/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/document/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/lastRequest" access="ROLE_ADMIN" />
				<security:intercept-url pattern="/libraries/**" access="ROLE_USERMANAGER" />
				<security:intercept-url pattern="/measure/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/param/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/parameterlist/**" access="ROLE_CONTRIBUTOR,ROLE_GUEST" />
 				<security:intercept-url pattern="/pset/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/phase/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/problems/**" access="ROLE_CONTRIBUTOR" />
				<!-- security:intercept-url pattern="/relations/init" access="permitAll" / -->
				<security:intercept-url pattern="/relations/load" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/search/**" access="ROLE_GUEST" />
				<security:intercept-url pattern="/sessions" access="ROLE_ADMIN" />
				<security:intercept-url pattern="/tree/**" access="ROLE_GUEST" />
				<security:intercept-url pattern="/unit/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/user/**" access="ROLE_USERMANAGER" />
				<security:intercept-url pattern="/users" access="ROLE_ADMIN" />
				<security:intercept-url pattern="/valuelist/**" access="ROLE_CONTRIBUTOR" />
				<security:intercept-url pattern="/valuelistentry/**" access="ROLE_CONTRIBUTOR" />
			</security:filter-security-metadata-source>
		</property>
	</bean>

	<bean id="exceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</bean>

	<bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" value="/" />
	</bean>

	<bean id="accessDeniedHandler"
		class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<property name="errorPage" value="/auth-error" />
	</bean>
	<bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/login-error" />
	</bean>
	
<!-- 	<bean id="authenticationSuccessHandler" -->
<!-- 		class="at.freebim.db.webapp.controller.AjaxAuthenticationSuccessHandler"> -->
<!-- 	</bean> -->
	
	<bean id="securityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository">
		<property name="disableUrlRewriting" value="false" />
	</bean>
	<bean id="securityContextPersistenceFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter" >
		<constructor-arg ref="securityContextRepository" />
	</bean>
	
<!-- 
	<bean id="securityContextPersistenceFilterWithASCFalse" class="org.springframework.security.web.context.SecurityContextPersistenceFilter"/>
 -->
 	
	<bean id="authenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
  		<property name="authenticationManager" ref="authenticationManager"/>
  		<property name="filterProcessesUrl" value="/j_spring_security_check"/>
  		<property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
  		<property name="sessionAuthenticationStrategy" ref="sas" />
		<!-- property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" / -->
  		<!-- property name="authenticationSuccessHandler" ref="savedRequestAwareAuthenticationSuccessHandler"></property  -->
	</bean>	
	
	<bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
	    <constructor-arg value="/logout" />
	    <constructor-arg>
	        <list>
	            <bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" >
	            	
	            </bean>
	        </list>
	    </constructor-arg>
	    <property name="filterProcessesUrl" value="/j_spring_security_logout"/>
	</bean>
<!-- 
	<bean id="authenticationManager" class="at.freebim.db.security.CustomAuthenticationManager" >
		<property name="passwordEncoder" ref="passwortEncoder" />
	 	<property name="salt" value="" />
	 </bean>
-->
	<bean id="accessDecisionManager" class="at.freebim.db.webapp.security.CustomAccessDecisionManager"/>
	
	<bean id="userDetailsService" class="at.freebim.db.service.impl.CustomUserDetailsService" />

	
<!-- 	
	<bean id="userService" class="at.freebim.db.service.impl.UserServiceImpl"
	 		init-method="init" >
	 	<property name="passwordEncoder" ref="passwortEncoder" />
	 	<property name="salt" value="" />
	 </bean>
	 <bean id="passwortEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
 -->	 
	<bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 

	<security:global-method-security secured-annotations="enabled" />
	
<!-- 	<util:properties id="props" location="classpath:freebim.properties"/>
 -->	
 
    <bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
	<bean id="concurrencyFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
  		<property name="sessionRegistry" ref="sessionRegistry" />
  		<property name="expiredUrl" value="/auth-error" />
	</bean>
	<bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<constructor-arg name="sessionRegistry" ref="sessionRegistry" />
  		<property name="maximumSessions" value="-1" />
	</bean>
</beans>
